*{
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 1%;
    background-color: #1E90FF;
    font-size: 30px;
    list-style: none;

}
ul{
    display: flex;
    flex-direction: row;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
    list-style: none;
    text-decoration: none;  
}
a{
    text-decoration: none;  
}
.liste{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;  
}
.contenu{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-color: rgb(226, 212, 18);
}
.pied{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: rgb(40, 190, 73);
}
@media screen and (max-widht: 800px){
    body{
        display: flex;
        flex-direction: row;
        text-align: center;
    }
}